@keyframes forfun {
    0% { 
        color: rgb(250, 136, 136);
    }
    20% { 
        color: rgb(252, 208, 126);
    }
    40% { 
        color: rgb(250, 250, 120);
    }
    60% { 
        color: rgb(156, 250, 156);
    }
    80% { 
        color: rgb(125, 169, 252);
    }
    100% { 
        color: rgb(252, 150, 230); 
    }
  }

.game {
    
    &__title {
        font-size: 4rem;
        color: white;
        animation: forfun 1.5s linear infinite;

    }
    &__question-count {
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }
    &__artist {
        font-size: 3rem;
        color: #c9f2ef;
    }
    &__album-cover {
        width: 300px;
        height: 300px;
    }
    &__question-text {
        font-size: 1.3rem;
        white-space: pre-wrap;
        margin-top: -20px;
        width: 500px;
        color: white;
        margin: 0 auto;

        &::after {
            content: attr(data-text);
            position: absolute;
            left: 0;
            top: 0;
            color: red;
            overflow: hidden;
            width: 40%;
            animation: run-text 5s infinite linear;
            text-shadow: 0 0 3px rgba(255,255,255,1); 
          }
    }
    &__answer-section {
        display: flex;
        flex-direction: column;
    }
    &__button {
        margin: 0 auto;
        margin-bottom: 10px;
        font-family: 'Lato';
        font-size: 1.2rem;
        font-weight: bold;
        height: 75px;
        width: 800px;
        border-radius: 10px;
        border: 2px solid black;
        background-color: #c9f2ef;

        &:hover {
            cursor: pointer;
            animation: forfun 2s linear infinite;
        }
      }
      &__flex {
          display: flex;
          justify-content: center;
      }
      &__card {
          display: flex;
          margin: 20px 0 0 30px;
      }
      &__score-section {
          font-size: 2rem;
          color: white;
          animation: forfun 1s linear infinite;
      }
}